@charset "utf-8";

div#mainImgBox{
	margin:15px auto 15px;
	text-align: left;
	width: 960px;
	height: 200px;
	overflow: hidden;
/*	border: 2px solid blue;*/
}

/*--------------------------------------*/

div#wBg{
	background: #fff;
}

div#mainContents{
	width: 800px;
	margin: 0 auto;
	text-align: left;
}

div#mainContents p{
	margin-left: 30px;
	font-size: 14px;
}

div#about {
	width: 720;
	margin-top: 20px;
}

div#about h1 {
	width: 100%;
	text-align: left;
	margin-left: 50px;
	font-size: 20px;
	font-weight: bold;
	text-decoration:underline;
}

div#about p {
	width: 100%;
	text-align: left;
	margin-left: 60px;
	font-size: 16px;
}

div#schedule {
	width: 720;
	margin-top: 20px;
}


div#schedule h1 {
	width: 100%;
	text-align: left;
	margin-left: 50px;
	font-size: 20px;
	font-weight: bold;
	text-decoration:underline;
}


div#year ul li{
	font-family:'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
	font-size: 14px;
	list-style-type:disc;
	margin-left: 10px;
}

/* バナーエリア */
div#bannerBox{
	float: right;
	width: 250px;
}
div#bannerBox ul li{
	margin-bottom: 15px;
}
